
    <div class="blog-masthead">
	<ul class="blog-nav">
	{% url 'home' as home %}
	{% url 'about' as about %}
	{% url 'contact' as contact %}
      <div class="container">
       
		  <li{% if request.path == home %} class="active" {% endif %}><a class="blog-nav-item" href="{% url 'home' %}">Home</a></li>
          <li{% if request.path == about %} class="active" {% endif %}><a class= "blog-nav-item" href="{% url 'about' %}">About</a></li>
		  <li{% if request.path == contact %} class="active" {% endif %}><a class= "blog-nav-item" href="{% url 'contact' %}">Contact</a></li>
		  <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
  
      </div>
    </div>
